{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    <p>Usuário e/ou senha inválido. Tente novamente</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Sua conta não tem acesso a esta página.
        Tente uma conta com acesso ou outra página</p>
    {% else %}
        <p>Por favor faça seu login para ver esta página</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
