{% extends "base.html" %}

{% block head %}
    <title>Canvas - jogo</title>
    <meta charset="UTF-8"/>
    <meta name="viewpoint" content= "widht=device-width", initial-scale=1.0"/>
    <script type="text/javascript">
        function desenha(){
            var canvas=document.getElementById("desenho")
            var ctx=canvas.getContext('2d')

            //colorir bordas pretas
            ctx.fillStyle="#000"
                ctx.fillRect(0,0,500,5)
                ctx.fillRect(0,495,500,500)
                ctx.fillRect(0,0,5,500)
                ctx.fillRect(495,0,500,500)


            //colorir retangulos vermelhos
            ctx.fillStyle="#f00"
                ctx.fillRect(75,75,70,70)
                ctx.fillRect(145,145,70,70)
                ctx.fillRect(215,215,70,70)
                ctx.fillRect(285,285,70,70)
                ctx.fillRect(355,355,70,70)
                ctx.fillRect(425,425,70,70)
                ctx.fillRect(425,75,70,70)
                ctx.fillRect(355,145,70,70)
                ctx.fillRect(285,215,70,70)
                ctx.fillRect(215,285,70,70)
                ctx.fillRect(145,355,70,70)
                ctx.fillRect(75,425,70,70)

            //colorir retangulos azuis
            ctx.fillStyle="#00f"
                ctx.fillRect(145,75,70,70)
                ctx.fillRect(145,215,70,70)
                ctx.fillRect(145,285,70,70)
                ctx.fillRect(145,425,70,70)

                ctx.fillRect(355,75,70,70)
                ctx.fillRect(355,215,70,70)
                ctx.fillRect(355,285,70,70)
                ctx.fillRect(355,425,70,70)

                ctx.fillRect(75,145,70,70)
                ctx.fillRect(215,145,70,70)
                ctx.fillRect(285,145,70,70)
                ctx.fillRect(425,145,70,70)

                ctx.fillRect(75,355,70,70)
                ctx.fillRect(215,355,70,70)
                ctx.fillRect(285,355,70,70)
                ctx.fillRect(425,355,70,70)
                ctx.fill()

            //colorir retangulos verdes
            ctx.fillStyle="#0f0"
                ctx.fillRect(215,75,70,70)
                ctx.fillRect(285,75,70,70)
                ctx.fillRect(425,215,70,70)
                ctx.fillRect(425,285,70,70)

                ctx.fillRect(75,215,70,70)
                ctx.fillRect(75,285,70,70)
                ctx.fillRect(215,425,70,70)
                ctx.fillRect(285,425,70,70)
            ctx.fill()

            //inserindo o texto azul
            ctx.fillStyle="blue";
            ctx.font = "bold 36px sans-serif"
                ctx.fillText("1",100,50)
                ctx.fillText("2",30,190)
                ctx.fillText("3",240,50)
                ctx.fillText("4",30,330)
                ctx.fillText("5",380,50)
                ctx.fillText("6",30,470)
            ctx.fill()

            //inserindo o texto vermelho
            ctx.fillStyle="red"
            ctx.font = "bold 36px sans-serif"
                ctx.fillText("1",30,120)
                ctx.fillText("2",170,50)
                ctx.fillText("3",30,260)
                ctx.fillText("4",310,50)
                ctx.fillText("5",30,400)
                ctx.fillText("6",450,50)
            ctx.fill()

            //inserindo o texto preto
            ctx.fillStyle="black"
                ctx.font= "bold 80px sans-serif"
                ctx.fillText("Q2",125,205)
                ctx.fillText("Q1",330,205)
                ctx.fillText("Q3",125,415)
                ctx.fillText("Q4",330,415)
            ctx.fill()

            //linha diagonal
            ctx.moveTo(5,5)
            ctx.lineTo(75,75)
            ctx.stroke()

            //linas horizontais
            ctx.moveTo(5,5)
            ctx.lineTo(495,5)
            ctx.stroke()

            ctx.moveTo(5,75)
            ctx.lineTo(495,75)
            ctx.stroke()

            ctx.moveTo(5,145)
            ctx.lineTo(495,145)
            ctx.stroke()

            ctx.moveTo(5,215)
            ctx.lineTo(495,215)
            ctx.stroke()

            ctx.moveTo(5,285)
            ctx.lineTo(495,285)
            ctx.stroke()

            ctx.moveTo(5,355)
            ctx.lineTo(495,355)
            ctx.stroke()

            ctx.moveTo(5,425)
            ctx.lineTo(495, 425)
            ctx.stroke()

            ctx.moveTo(5,495)
            ctx.lineTo(495, 495)
            ctx.stroke()

            ctx.moveTo(5,75)
            ctx.lineTo(495,75)
            ctx.stroke()

            //linhas verticais
            ctx.moveTo(5,5)
            ctx.lineTo(5,495)
            ctx.stroke()

            ctx.moveTo(75,5)
            ctx.lineTo(75,495)
            ctx.stroke()

            ctx.moveTo(145,5)
            ctx.lineTo(145,495)
            ctx.stroke()

            ctx.moveTo(215,5)
            ctx.lineTo(215,495)
            ctx.stroke()

            ctx.moveTo(285,5)
            ctx.lineTo(285,495)
            ctx.stroke()

            ctx.moveTo(355,5)
            ctx.lineTo(355,495)
            ctx.stroke()

            ctx.moveTo(425,5)
            ctx.lineTo(425,495)
            ctx.stroke()

            ctx.moveTo(495,5)
            ctx.lineTo(495,495)
            ctx.stroke()
        }
        $(function() {
            console.log( "ready!" );
            desenha();
        });
    </script>
{% endblock %}

{% block content %}
    <canvas id="desenho" width="500" height="500" style="border:1px solid #000;">
        <h1> Probabilidado</h1>
    </canvas>


    <b>TODO: Listar dicas antigas</b>

    <br />Dica: <b>{{rodada.dica}}</b>
    {% for alternativa in rodada.alternativa_set.all %}
        <br />
        {% if rodada.estado == 1 and alternativa.correta %}
            <div class="alert alert-success" role="alert">
        {% else %}
            <div class="alert alert-primary" role="alert">
        {% endif %}

            {{alternativa.texto}}

        </div>
    {% endfor %}

    <br />

    {% if rodada.estado == 0 %}
        <a class="btn btn-success" href="{% url 'probdado:revelar' rodada_pk=rodada.id %}">Revelar >></a>
    {% else %}
        <a class="btn btn-info" href="{% url 'probdado:novarodada' match_pk=rodada.partida.match.id %}">Próxima Dica (Rodada) >></a>

        <a class="btn btn-info" href="{% url 'probdado:novacombinacao' room_pk=rodada.partida.match.room.id %}">Nova Combinação >></a>
    {% endif %}

{% endblock %}



